<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <form action="/add_movie" method="POST">
        <label for="movietitle">Movie Title:</label>
        <input type="text" id="movietitle" name="movietitle" required><br><br>

        <label for="releasedate">Release date:</label>
        <input type="date" id="releasedate" name="releasedate"><br><br>

        <label for="directory">Directory:</label>
        <input type="text" id="directory" name="directory"><br><br>

        <label for="movierating">Rating:</label>
        <input type="number" step="0.01" id="movierating" name="movierating"><br><br>

        <label for="userid">Assign User:</label>
        <select id="userid" name="userid" required>
            <option value="">Select User</option>
            {% for user in users %}
            <option value="{{ user.id }}">{{user.first_name}} {{ user.last_name }}</option>
            {% endfor %}
        </select><br><br>

        <input type="submit" value="Add Movie">
    </form>

    <a href="/">
        <button type="button">Homepage</button>
    </a>

</body>

</html>